.ces-topbar-sublist-item {
    background: #ddffff !important;
}

.ces-topbar-sublist-item:hover {
    background: #bbdddd !important;
}

/**
 * Table
 */

.ces-table {
    width: 100%;
}

.ces-table thead tr {
    border-bottom: 1px solid #ddd;
}
.ces-table tr:nth-child(even) {
    background: #eee;
}
.ces-table tr:nth-child(odd) {
    background: #fff;
}

.ces-table td,
.ces-table th {
    text-align: left;
    padding: 5px;
}

.ces-table .name {
    width: 40%;
}
.ces-table .tag {
    width: 40%;
}

/**
 * Modal
 */

.ces-overlay {
    background: rgba(0, 0, 0, 0.5);
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    position: fixed; left: 0; top: 0; z-index: 9998;
}

.ces-modal {
    background: #fff;
    margin: 50px auto 0;
    width: 50%;
    position: relative; z-index: 9999;
}

.ces-modal .hide {
    display: none;
}

.ces-modal .close {
    border: 1px solid #ddd;
    display: block;
    padding: 5px;
    position: absolute; right: 10px; top: 10px;

    border-radius: 5px;
}

.ces-modal .tabs {
    list-style: none;
    margin: 0; padding: 0;
}

.ces-modal .tabs li {
    display: inline-block;
    margin: 5px 10px; padding: 5px 10px;
}

.ces-modal .tabs li .on {
    font-weight: bold;
}

.ces-modal .panes {
    overflow: auto;
    margin: 0 10px 10px 10px; padding: 0 10px 10px 10px;
    max-height: 450px;
}

.ces-modal .panes > div {
    display: none;
}

.ces-modal .panes > div.on {
    display: block;
}

.ces-modal .ces-options {
    margin: 0 0 10px; padding: 0 20px;
}

.ces-modal .ces-options label {
    display: block;
    margin: 10px 0 5px;
}

.ces-modal input[type="radio"] {
    margin: 0 5px 0 15px;
}

.ces-modal .tagger .ces-profile-badge {
    display: inline-block;
    text-align: center;
    margin: 2px 0;
    width: 100px;
}

.ces-modal .action {
    text-align: center;
}

.ces-modal button[type="submit"] {
    margin: 10px 0 0;
}

/**
 * User Menu
 */

.ces-user-menu {
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    white-space: nowrap;
    margin: 0; padding: 5px;
    position: absolute; left: 0; top: 1em; z-index: 100;

    border-radius: 5px;
}

.ces-user-menu a {
    margin: 0 5px; padding: 2px;
}

/**
 * Badges
 */

.ces-profile-badge {
    color: #333 !important;
}
